/**
 * Filtro - GrayScale
 *
 */
.GrayScaleFilter{

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

/**
 * Filtro - ShadowFilter
 *
 */
.ShadowFilter {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

/**
 * Filtro - BlurFilter
 *
 */
.BlurFilter {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
}

/**
 * Filtro - InvertFilter
 *
 */
.InvertFilter {
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -ms-filter: invert(1);
    -o-filter: invert(1);
    filter: invert(1);
}

/**
 * Filtro - SepiaFilter
 *
 */
.SepiaFilter {
    -webkit-filter: sepia(1);
    -moz-filter: sepia(1);
    -ms-filter: sepia(1);
    -o-filter: sepia(1);
    filter: sepia(1);
}

/**
 * Propriedade - Rotation
 *
 */
.Rotation {

    transform:rotate({{rotation}}deg);
    -ms-transform:rotate({{rotation}}deg);
    -webkit-transform:rotate({{rotation}}deg);
}
